#Ignore all files contaning information about students.
*.txt
*.json
#Igonre system files
*.DS_Store
#Ignore heat maps files
*.tsv
*.html
!heatmaps

#Exclude ignore this file, base of heatmaps.
!base.html
